<header class="desktop-header">
    <div class="top-header">
        <a href="/" class="logo">
            <img src="/images/Logo.png" class="logo-img" alt="logo">
        </a>
        <div class="form">
            <form action="/search" method="GET">
                <input class="input" type="text" name="query" placeholder="Buscar">
                <button class="submit" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="carrito"><a class="carrito" href="/products/productCart">
            Carrito
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
        </div>
    </div>
    <div class="bottom-header">
        <ul>
            <li><a href="/products/auriculares">Auriculares JBL</a></li>
            <li><a href="/products/parlantes">Parlantes JBL</a></li>
            <li><a href="/products/gaming">Gaming</a></li>
            <li><a href="/products/notebooks">Notebooks</a></li>
        </ul>
        <div>
            <ul>
                <% if (!locals.isLogged) { %>
                    <li><a href="/user/login">Inicia Sesion</a></li>
                    <li><a href="/user/register">Registro</a></li>
                <% } else { %>
                <li><a href="/user/detail">Mi cuenta</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</header>
<header class="mobile-header">
    <div class="top-mobile-header">
        <a href="/" class="logo">
            <img src="/images/Logo.png" class="logo-img" alt="logo">
        </a>
        <div class="cuenta">
            <ul>
                <% if (!locals.isLogged) { %>
                    <li><a href="/user/login">Inicia Sesion</a></li>
                    <li><a href="/user/register">Registro</a></li>
                <% } else { %>
                <li><a href="/user/detail">Mi cuenta</a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <div class="bottom-mobile-header">
        <div class="form" action="#" method="GET">
            <form action="#" method="POST">
                <input class="input" type="text" placeholder="Buscar">
                <button class="submit" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <a href="/products/productCart" id="carrito-movil"><i class="fa-solid fa-cart-shopping"></i></a>
        <a class="burger-menu"><i class="fa-solid fa-bars"></i></a>
    </div>
</header>
<header class="second-mobile-header"> <!-- creado para poder fijar el mobile header sin perder la relacion con el banner -->
    <div class="top-mobile-header">
        <a href="/" class="logo">
            <img src="/images/Logo.png" class="logo-img" alt="logo">
        </a>
        <div class="cuenta">
            <ul>
                <li><a href="login">Inicia Sesion</a></li>
                <li><a href="register">Registro</a></li>
                <li style="display: none"><a href="#">Mi cuenta</a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-mobile-header">
        <div class="form" action="#" method="GET">
            <form action="#" method="POST">
                <input class="input" type="text" placeholder="Buscar">
                <button class="submit" type="submit"><i class="fa fa-search"></i></button>
            </form>    
        </div>
        <a href="productCart"><i class="fa-solid fa-cart-shopping"></i></a>
        <a><i class="fa-solid fa-bars"></i></a>
    </div>
</header>