<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <div class="banner">
        <img class="img-banner" src="/images/banner.jpg" alt="">
    </div>
    <main>
        <h2 class="promociones">Promociones</h2>
        <div class="rueda-productos">
            <article class="producto"><a href="/productDetail">
                <img src="/images/JBLQuantum50.png" alt="">
                <p class="precio">$999</p>
                <h4 class="titulo-producto-promociones">JBL Quantum 50</h4>
                </a>    
            </article>
            <article class="producto"><a href="/productDetail">
                <img src="/images/JBLQuantum100.jpg" alt="">
                <p class="precio">$999</p>
                <h4 class="titulo-producto-promociones">JBL Quantum 100</h4>
                </a>
                </article>
            <article class="producto">
                <a href="/productDetail">
                <img src="/images/JBLQuantum300.jpg" alt="">
                <p class="precio">$999</p>
                <h4 class="titulo-producto-promociones">JBL Quantum 300</h4>
                </a>
                
            </article>
        </div>
        <h2>Algo sobre la pagina</h2>
        <div>Contenido a evaluar</div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>