<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/60feb6091e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>JBL Sales</title>
</head>
<body>
    <header class="desktop-header">
        <div class="top-header">
            <a href="/" class="logo">
                <img src="/images/Logo.png" class="logo-img" alt="logo">
            </a>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <div class="carrito"><a class="carrito" href="productCart">
                Carrito
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            </div>
        </div>
        <div class="bottom-header">
            <ul>
                <li><a href="#">Auriculares JBL</a></li>
                <li><a href="#">Parlantes JBL</a></li>
                <li><a href="#">Gaming</a></li>
                <li><a href="#">Notebooks</a></li>
            </ul>
            <div>
                <ul>
                    <li><a href="login">Inicia Sesion</a></li>
                    <li><a href="register">Registro</a></li>
                    <li style="display: none"><a href="#">Mi cuenta</a></li>
                </ul>
            </div>
        </div>
    </header>
    <header class="mobile-header">
        <div class="top-mobile-header">
            <a href="/" class="logo">
                <img src="/images/Logo.png" class="logo-img" alt="logo">
            </a>
            <div class="cuenta">
                <ul>
                    <li><a href="login">Inicia Sesion</a></li>
                    <li><a href="register">Registro</a></li>
                    <li style="display: none"><a href="#">Mi cuenta</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-mobile-header">
            <div class="form" action="#" method="GET">
                <div class="input">Buscar</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <a href="productCart" id="carrito-movil"><i class="fa-solid fa-cart-shopping"></i></a>
            <a class="burger-menu"><i class="fa-solid fa-bars"></i></a>
        </div>
    </header>
    <header class="second-mobile-header"> <!-- creado para poder fijar el mobile header sin perder la relacion con el banner -->
        <div class="top-mobile-header">
            <a href="/" class="logo">
                <img src="/images/Logo.png" class="logo-img" alt="logo">
            </a>
            <div class="cuenta">
                <ul>
                    <li><a href="login">Inicia Sesion</a></li>
                    <li><a href="register">Registro</a></li>
                    <li style="display: none"><a href="#">Mi cuenta</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-mobile-header">
            <div class="form" action="#" method="GET">
                <div class="input">Buscar</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <a href="productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a><i class="fa-solid fa-bars"></i></a>
        </div>
    </header>
    <main>
        <a href="/">&lt; Volver a la pagina anterior</a>
        <article class="main-product-detail">
            <div class="main-product-detail-div">
                <img src="/images/JBLQuantum50.png" alt="" class="img-product-detail">
            <div class="desktop-description-div">
                <h4 class="nombre-del-producto">Quantum 50</h4>
                <p class="descripcion-producto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consequuntur laboriosam qui ab, sunt dolores doloribus eveniet, a est veniam minima corporis neque dolore, facere nihil nemo quos? Unde, blanditiis?</p>
                <p class="precio-producto">$999</p>
                <div class="cantidad-select">
                    <p>Cantidad</p>
                    <select name="cantidad" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="product-detail-buttons">
                    <button type="submit" class="comprar-ahora">Comprar Ahora</button>
                    <button type="submit" class="agregar-carrito">Agregar al Carrito</button>
                </div>
            </div>
            </div>
            <div class="caracteristicas">
                <h4>Caracteristicas</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reiciendis cum assumenda error obcaecati, dicta atque perferendis temporibus culpa reprehenderit quam dolor, magnam quaerat modi animi accusamus! Quo, aut fugiat.</p>

            </div>
            <div class="descripcion">
                <h4>Descripcion</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam beatae consequuntur suscipit facere qui consectetur natus harum, tempore quasi non reiciendis obcaecati blanditiis ipsam itaque nemo et alias recusandae rem.</p>

            </div>
        </article>
    </main>
    <footer class="pie-pagina">
        <div class="grupo-1">
            
            <div class="box">
                <figure>
                    <a href="/"><img src="/images/footer.png" class="footer-img" alt="logo"></a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, sequi?</P>
                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, sequi?</P>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-youtube"></a>
                </div>
            </div>

        </div>

        <div class="grupo-2">
            <small> &copy; 2022 <b>Slee Dw</b> - Todos los derechos Reservados.</small>
        </div>
    
    </footer>
</body>
</html>    