<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/60feb6091e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>JBL Sales</title>
</head>
<body>
    <header class="desktop-header">
        <div class="top-header">
            <img src="/images/Logo.png" class="logo" alt="logo">
            <div class="form" action="#" method="GET">
                <div class="input">Buscar</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <div class="carrito"><a class="carrito" href="productCart">
                Carrito
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            </div>
        </div>
        <div class="bottom-header">
            <ul>
                <li><a href="#">Auriculares JBL</a></li>
                <li><a href="#">Parlantes JBL</a></li>
                <li><a href="#">Gaming</a></li>
                <li><a href="#">Notebooks</a></li>
            </ul>
            <div>
                <ul>
                    <li><a href="login">Inicia Sesion</a></li>
                    <li><a href="register">Registro</a></li>
                    <li style="display: none"><a href="#">Mi cuenta</a></li>
                </ul>
            </div>
        </div>
    </header>
    <header class="mobile-header">
        <div class="top-mobile-header">
            <img src="/images/Logo.png" class="logo" alt="logo">
            <div class="cuenta">
                <ul>
                    <li><a href="login">Inicia Sesion</a></li>
                    <li><a href="register">Registro</a></li>
                    <li style="display: none"><a href="#">Mi cuenta</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-mobile-header">
            <div class="form" action="#" method="GET">
                <div class="input">Buscar</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <a href="productCart"><i class="fa-solid fa-cart-shopping"></i></a>
            <a><i class="fa-solid fa-bars"></i></a>
        </div>
    </header>
    <footer>
        <h4>Pie de Pagina</h4>
        <p>Todos los derechos reservados</p>
    </footer>
</body>
</html>    