*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 0px;
    background-color: #ebebeb;
}

.desktop-header{
    display: none;
}

.mobile-header{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
}
.second-mobile-header{
    width: 100%;
    z-index: -1;
}
.top-mobile-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.cuenta{
    display: flex;
}

.top-mobile-header ul{
    margin: 0px;
    padding: 8px;
}

.top-mobile-header li{
    padding: 8px;
    position: relative;
    top: 20%;
}

.top-mobile-header a{
    padding: 8px;
    border-radius: 5px;
    background-color: #0d2033;
    color: white;
}

.bottom-mobile-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 8px 0px;
    align-items: center;
}

header{
    background-color: #2c3e50;
}

header .header-user-logo{
    width: 5%;
    border-radius: 100%;
}

header .logo{
    width: 37%;
    background-color: #2c3e50;
}
header .logo-img{
    width: 100%;
}

header .top-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
}

.form{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 0px;
    position: relative;
}

.form form {
    display: flex;
    width: 100%;
    position: relative;
}

.form .input {
    border: 1px solid grey;
    border-radius: 5px;
    height: 25px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}

.form .submit {
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border: none;
    border-radius: 5px;
}

header .bottom-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0d2033;
    padding: 0px 8px;
}

header ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    margin-top: revert;
    margin-bottom: 12px;
}

header a{
    
    text-decoration: none;
    color: #f5f5f5;
}

.burger-menu, #carrito-movil{
    padding: 8px;
    background-color: #0d2033;
    border-radius: 5px;
    color: white;
}

.carrito{
    background-color: #0d2033;
    border-radius: 5%;
    display: flex;
    align-items: center;
    padding-right: 2%;
    height: 30px;
    padding-left: 2%;
    font-size: 1em;
    color: white;
}
.bottom-header a{
    padding: 8px;
    background-color: #2c3e50;
    font-size: 1em;
    color:white;
    margin: 0 5px 5px 0;
}

.img-banner{
    width: 100%;
}

main{
    padding: 4%;
    background-color: #DBDFFD;
}
main .newProduct{
    display: block;
    margin: auto;
    width: min(900px, 100%);
}

main #imagen-newProduct{
    margin-bottom: 12px;
}
main input.newProduct{
    border-radius: 6px;
    height: 30px;
}

main .descripcion-producto2{
    display: block;
    margin: auto;
    width: min(900px, 100%);
    height: 90px;
    border-radius: 8px;
    margin-bottom: 4px;
}

.rueda-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.rueda-productos a{
    text-decoration: none;
    margin: auto;
}

.rueda-productos article img{
    width: 100%;
}

.rueda-productos article{
    background-color: #2c3e50;
    padding: 2%;
    margin : 4% auto 4% auto;
    width: 30%;
}

.rueda-productos p{
    color: #DBDFFD;
    font-size: 1em;
    padding-left: 4%;
}

.rueda-productos h4{
    color: #DBDFFD;
    font-size: 1em;
    padding-left: 4%;
    margin: 0px;
}

.register-form div{
    width: 80%;
    margin: auto;
}

.register-form .text-danger{
    width: 96%;
}

.register-form input{
    width: 96%;
    padding: 8px;
    margin: 8px;
}

.register-form label{
    padding: 8px;
    margin: 8px;
    padding-left: 0px;
}

.register-form button{
    margin-left: 67.5%;
    width: 30%;
    padding: 8px;
    background-color: #242F9B;
    border-radius: 5px;
    margin-top: 8px;
    color: #DBDFFD;
}

.register-form p{
    font-size: 14px;
    text-align: center;
}
.register-form a{
    text-decoration: none;
}
#checkbox{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#checkbox-input{
    width: auto;
}


main .producto-carrito{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

main .producto-carrito{
    padding: 8px;
    border: solid 1px #2c3e50;
    margin-top: 8px;
}
.descripcion-producto{
    display: none;
}

main .img-producto-carrito{
    width: 25%;
}

main .img-producto-carrito img{
    width: 100%;
}
main .texto-producto-carrito{
    margin: 8px;
    padding: 8px;
    margin-top: 0px;
    padding-top: 0px;
    width: 50%;
}
main .texto-producto-carrito h4{
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 1em;
}
.eliminar-carrito{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    text-decoration: underline;
    align-self: flex-end;
    margin-left: auto;
}

.product-checkout{
    padding: 8px;
    border: solid 1px #2c3e50;
    margin-top: 8px;
}

.price-checkout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: solid 1px #242F9B;
}

.price-checkout p{
    font-size: 1em;
}

.checkout{
    border: solid 1px #242F9B;
    padding: 8px;
    margin-top: 8px;
    text-align: center;
}

.subtotal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.checkout-button{
    width: 100%;
    background-color: #5364fb;
    padding: 8px;
    border-radius: 5px;
    color: #DBDFFD;
}

.checkout-button:hover{
    background-color: #242F9B;
}

.img-product-detail{
    width: 100%;
    margin-top: 8px;
}

.cantidad-select{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cantidad-select p{
    margin: 0px 4px 0px 0px;
}
.cantidad-select select{
    width: 100%;
}

.product-detail-buttons{
    margin: 8px 0px;
}

.comprar-ahora, .agregar-carrito{
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    margin-top: 4px;
    background-color: #242F9B;
    color: #DBDFFD;
}

.comprar-ahora:hover, .agregar-carrito:hover{
    background-color: #0d2033;
}

.caracteristicas, .descripcion{
    background-color: #2c3e50;
    color: #ebebeb;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
}

.profile-container {
    width: 85%;
    margin: auto;
    padding: 8px;
    border: solid 1px #f5f5f5;
    border-radius: 5%
}
.profile-container img {
    width: 100%;
    border-bottom: solid 1px #f5f5f5;
}
.profile-container h4 {
    border-bottom: solid 1px #f5f5f5;
    padding: 4px;
    margin: 12px 0px;
}



.pie-pagina{
    width: 100%;
    background-color: #2c3e50;

}

.footer-img{
    width: 100%;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;

}

.pie-pagina .grupo-1 figure{
    margin: 1em;
}

.pie-pagina .grupo-1 .box .figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.pie-pagina .grupo-1 .box .figure{
   width: 250px; 
}

.pie-pagina .grupo-1 .box h2{
    color: #f5f5f5;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #ebebeb;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ebebeb;
    margin: 0 10px 10px 0;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0d2033;
    padding: 15px 10px;
    text-align: center;
    color: #f5f5f5;
    font-size: 15px;
}
.card-img{
    margin: 0 5px 5px 0;
    width: auto;
}

@media screen and (max-width:769px){ 
    .pie-pagina .grupo-1{
        width: 95%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        padding: 8px;
        text-align: center;
    
    } 
}

@media (min-width:769px){
    .desktop-header{
        display: block;
    }
    .mobile-header{
        display: none;
    }
    .form{
        width: 65%;
    }
    .register-form div{
        width: 40%;
    }
    .second-mobile-header{
        display: none;
    }
    .descripcion-producto{
        display: block;
    }
    main .texto-producto-carrito h4{
        font-size: 20px;
    }
    main .texto-producto-carrito p{
        font-size: 16px;
    }
    header .logo{
        width: 20%;
    }
    .descripcion{
        display: none;
    }
    .main-product-detail-div{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 8px;
    }
    .img-product-detail{
        width: 40%;
    }
    .desktop-description-div{
        width: 60%;
        padding: 8px;
        position: relative;
    }
    .cantidad-select select{
        width: auto;
    }
    .product-detail-buttons{
        position: absolute;
        bottom: 0px;
        width: 70%;
        display: flex;
        margin-bottom: 4px;
    }
    .comprar-ahora{
        margin-right: 4px;
    }
  
}



.bottom-header li a {

    border-radius: 5px;

}