<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <a href="/">&lt; Volver a la pagina anterior</a>
                <article class="main-product-detail">
                    <form action="/newProduct" method="POST">
                        <div class="main-product-detail-div">
                            
                            <!-- <img src="/images/JBLQuantum50.png" alt="" class="img-product-detail"> -->
                            <div class="newProduct">
                                <h2>NUEVO PRODUCTO</h2>
                                <br>
                                <label for="titulo" class="newProduct"><b>Tilulo del producto:</b> </label>
                                <br>
                                <input type="text" name="titulo" class="newProduct"  required>
                                <br>
                                <label for="titulo" class="newProduct" id="imagen-newProduct"><b>Inserte Imagen</b></label>
                                <input type="file" name="imagen" class="newProduct" accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP" multiple="" autocomplete="off">
                                <br>
                                <label for="descripcion" class="newProduct"><b>Precio </b> </label>
                                <br>
                                <input type="text-area" name="descripcion" class="newProduct" required>
                                <br>
                                <label for="precio" class="newProduct"><b>Categoria</b></label>
                                <br>
                                <div class="newProduct">
                                    <select name="categoria" id="">
                                        <option value="1">PARLANTES</option>
                                        <option value="2">AURICULARES</option>
                                        <option value="3">GAMMING</option>
                                        <option value="4">STEREO</option>
                                        <option value="5">OTRO</option>
                                    </select>
                                </div>
            
                                <br>
                                <label for="unidades" class="newProduct"><b>Unidades disponibles: </b> </label>
                                <br>                                    
                                <input type="number" name="unidades" class="newProduct" required>
                                <br>
                                <label for="caracteristicas" class="newProduct"><b> Caracteriticas del
                                    producto </b> </label>
                                <br>
                                    <textarea id="caracteristicas" name="caracteristicas" class="descripcion-producto2" required></textarea>
                
                                <div class="">
                                    <button type="submit" class="comprar-ahora"><b>Agregar producto </b> </button>
                                    <button type="reset" class="comprar-ahora"><b> Borrar todo</b> </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </article>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>