<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <a href="/">&lt; Volver a la pagina anterior</a>
        <article class="main-product-detail">
            <div class="main-product-detail-div">
                <img src="/images/JBLQuantum50.png" alt="" class="img-product-detail">
            <div class="desktop-description-div">
                <h4 class="nombre-del-producto">Quantum 50</h4>
                <p class="descripcion-producto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis consequuntur laboriosam qui ab, sunt dolores doloribus eveniet, a est veniam minima corporis neque dolore, facere nihil nemo quos? Unde, blanditiis?</p>
                <p class="precio-producto">$999</p>
                <div class="cantidad-select">
                    <p>Cantidad</p>
                    <select name="cantidad" id="">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="product-detail-buttons">
                    <button type="submit" class="comprar-ahora">Comprar Ahora</button>
                    <button type="submit" class="agregar-carrito">Agregar al Carrito</button>
                </div>
            </div>
            </div>
            <div class="caracteristicas">
                <h4>Caracteristicas</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo reiciendis cum assumenda error obcaecati, dicta atque perferendis temporibus culpa reprehenderit quam dolor, magnam quaerat modi animi accusamus! Quo, aut fugiat.</p>

            </div>
            <div class="descripcion">
                <h4>Descripcion</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam beatae consequuntur suscipit facere qui consectetur natus harum, tempore quasi non reiciendis obcaecati blanditiis ipsam itaque nemo et alias recusandae rem.</p>

            </div>
        </article>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>    